coverage
.nyc_output/
node_modules/
junit
dist
tmp
logs
.DS_Store
test-results.xml
.env
.idea/
*.iml
notes.loca.md
.vscode/
.aws-sam/
env.sh
output.txt

# Cursor
.cursor/*
!.cursor/rules/
!.cursor/commands/
.cursor/commands/speckit.*
